.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #131921;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  height: 50px;
  padding: 5px;
}

.header__logo:hover {
  border: 1px solid whitesmoke;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 10px;
}
.header__search:hover {
  border: 1px solid whitesmoke;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: #cd9042;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__optionBasket:hover{
  color: #cd9042;
  cursor: pointer;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__nav a {
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  padding: 8px;
}

.header__option:hover {
  border: 1px solid whitesmoke;
  cursor: pointer;

}

.header__menuIcon {
  color: white;
  width: 10px;
  margin-left: 5px;
  margin-right: -8px;
}
.header__menuIcon:hover {
  border: 1px solid whitesmoke;
}


@media screen and (min-width: 375px){
    .header {
      font-size: xx-small;
    }
}


@media screen and (max-width: 375px){
  .header{
    width: 375px;
    margin-left: 30px
  }
  .header__nav {
    display: none;
  }
}
